{% extends "layout.html" %}

{% block content %}

<h1>🛡️ COUNTERS</h1>

<form method="GET" action="/counters">
    <input 
        type="text" 
        name="q" 
        value="{{ query }}" 
        placeholder="Buscar team"
        style="padding:10px; width:250px;"
    >
    <button type="submit">Buscar</button>
</form>

{% for item in teams %}

<div style="padding:15px; margin:10px; background:#111; border:1px solid #2ecc71;">

    <a href="/team/{{ item.team | urlencode }}" style="color:white;">
        {{ item.team }} ({{ item.count }} variaciones)
    </a>

</div>

{% endfor %}

{% endblock %}