{% extends "layout.html" %}

{% block content %}

<h1>{{ team }}</h1>

<a href="{{ url_for('counters') }}">⬅ Volver</a>

{% for v in variations %}

<a href="/variation/{{ team | urlencode }}/{{ v.name | urlencode }}"
   style="
      display:block;
      padding:15px;
      margin:10px 0;
      background:#1b1b1b;
      border:2px solid #2ecc71;
      border-radius:8px;
      color:white;
      text-decoration:none;
   ">

    <div style="font-size:18px;font-weight:bold;">
        {{ v.name }}
    </div>

    <div style="font-size:13px;opacity:0.8;">
        {{ v.count }} counter(s)
    </div>

</a>

{% endfor %}

{% endblock %}